Características implementadas.txt
diarioApp(monolitico).html
app(dp).js
app.bak.js
Características implementadas_v2.txt
Changelog_2.txt
Changelog_1.txt
DiarioApp_DeepSeek.txt
DiarioApp_DeepSeek_2.txt
Lista de Características Implementas_para_v3.txt
Promp_generador_v3(gem).txt
Promp_generador(gem_v4).txt
Promp_generador(gem).txt
PrimeraVersion_GuiaTecnica_Manual_Readme.txt
manualUsuario(markdown_gem).txt
guia_tecnica.bak.html
manual_usuario.bak.html
manualUsuario(markdown).txt
